/*navigation*/
#navbar{
    flex-direction: column;

}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

/*home*/
#home{
 height: 280px;
 padding: 3px 68px;
}
#home::before{
    height: 480px;
    
   }
   #home p{
font-size: 13px;
   }
/*services*/
#services{
flex-direction: column;
}

/*clients section*/
#client-section::before{
    content: "";
    position: absolute;
    background: url("bgc.jpg") no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
    
    }
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 66px;
padding: 2px 6px;
height: auto;
}
/*Contact Us */
#contact-box form{
    width: 80%;
}
/*footer */

/*utility dlasses*/
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}
